<%-include ('partial/head.ejs') %>

    <% if(user.length > 0) { %>
        <ul>
            <% user.forEach((user) => { %>
               <li><%= user.name %></li>

            <% }) %>
        </ul>
    <% } else {%>
        <h1> No User </h1>
    <% } %>

<%-include ('partial/end.ejs') %>
    
